---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BlogLayout title={post.data.title} description={post.data.description}>
  <h1>{post.data.title}</h1>
  {post.data.description && <p style="color: #666; font-style: italic; margin-bottom: 2rem;">{post.data.description}</p>}
  <Content />
</BlogLayout>

