---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BlogLayout title="Posts">
  <h1>Posts</h1>
  <ul class="post-list">
    {blogPosts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>
          <span class="post-date">
            {post.data.pubDate.toLocaleDateString('en-US', { 
              month: 'short', 
              day: 'numeric',
              year: 'numeric'
            })}
          </span>
          <h3>{post.data.title}</h3>
        </a>
      </li>
    ))}
  </ul>
</BlogLayout>

