---
import BlogLayout from '../layouts/BlogLayout.astro';
---

<BlogLayout title="About">
  <h1>About</h1>
  
  <p>
    Hi, I'm Talha.
  </p>
  
  <p>
    I'm a software engineer and this is my personal blog.
  </p>
  
  <p>
    I use this space to write about things I'm learning, building, or thinking through.
  </p>
  
  <p>
    Nothing too polished, just notes and thoughts over time.
  </p>
  
  <p>
    You can find me on LinkedIn here:<br />
    <a href="https://www.linkedin.com/in/talhaunsel/">👉 https://www.linkedin.com/in/talhaunsel/</a>
  </p>
</BlogLayout>
