---
import BlogLayout from '../layouts/BlogLayout.astro';
import AboutContent from '../components/AboutContent.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');

const latestBlog = blogPosts
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BlogLayout title="About">
  <AboutContent />

  {latestBlog.length > 0 && (
    <>
      <h2>Recent on my blog</h2>
      <ul class="post-list recent-blog-list">
        {latestBlog.slice(0, 4).map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>
              <span class="post-date">
                {post.data.pubDate.toLocaleDateString('en-US', {
                  month: 'short',
                  day: 'numeric',
                  year: 'numeric'
                })}
              </span>
              <span>{post.data.title}</span>
            </a>
          </li>
        ))}
      </ul>
      <p><a href="/blog">View all posts</a></p>
    </>
  )}
</BlogLayout>
